@model IEnumerable<Budget.Models.Category>

@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>

<p>
    <a class="btn btn-success" href="@Url.Action("AddCategory")">Add A Category  <span class="glyphicon glyphicon-plus"></span></a>
</p>
<table class="table table-striped">
    

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            <!-- Button trigger modal -->
            <a class="btn btn-primary" href="@Url.Action("EditCategory", new { id = item.ID })"><span class="glyphicon glyphicon-edit"></span></a>
            <a class="btn btn-danger" href="@Url.Action("DeleteCategory", new { id = item.ID })"><span class="glyphicon glyphicon-trash"></span></a>
                        
        </td>
    </tr>
}

</table>
